body{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana;
}

main{
  text-align: center;
  max-width: 70vw;
  padding: 0 2rem;
  margin: 1rem auto;
  border: solid 1px rgb(1, 1, 1);
}

main h1{
  color: blue;
}

/*------------ ButtonTask ---------------*/

.btnTask{
  display:inline;
  max-width: 200px;
  max-height: 40px;
  padding: .2em .6em;
  border-radius: 5px;
  background-color: rgb(175, 205, 248);
  margin: .2em .2em;
}

.btnTask-blue {
  background-color: blue;
  color: white;
}

.btnTask-red {
  background-color: red;
  color: white;
}

/*------------ InputTask ---------------*/

.inputTask{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.inputTask .inputTask-txt{
  width: 85%;
  height: 30px;
  margin: 0 1rem;
  font-size: 1.6em;
}

/*------------ ItemTask ---------------*/

.itemTask{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: solid 2px blue;
  border-radius: 5px;
  margin: 2rem 1rem;
  align-items: center;
}

.itemTask p{
  text-align: start;
  width: 85%;
  border: solid .2px blue;
}